<!--
    file name: Assignment 1
    student name: Joshua Soriano
    student id: 301 154 852
    date: Friday, October 1, 2021
-->

<form action="mailto:joshua.soriano011@gmail.com" method="post" style="height: 309px">
    <table>
        <tr>
            <td>First Name</td>
            <td><input name="Text1" type="text"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input name="Text2" type="text"></td>
        </tr>
        <tr>
            <td>Contact Number</td>
            <td><input name="Text3" type="text"></td>
        </tr>

        <tr>
            <td>Email</td>
            <td><input name="Text4" type="text"></td>
        </tr>

        <tr>
            <td>Message</td>
            <td><input name="Text5" type="text"></td>
        </tr>
    </table><br>
    <input type="submit" value="Send data">
</form>