<!--
    file name: Assignment 1
    student name: Joshua Soriano
    student id: 301 154 852
    date: Friday, October 1, 2021
-->

<!--Header-->
<%- include partials/header.ejs %>



    <!--navigation bar and logo!-->
    <%- include partials/nav_bar.ejs %>
    <!--Main content-->
    <main class="container">
        <div class="jumbotron">
            <img src="/assets/images/me.jpg" height="300px" id="aboutimg">
            <h3 class="display-6">About Me:</h3>
            <h3 class="display-6">I am a student at Centennial College in the Software Engineering program specializing in artificial intelligence.</h3>
            <h3 class="display-6">I am knowledgeable in:
                <li>C#</li>
                <li>Python</li>
                <li>Java</li>
            </h3>
            <a href="/assets/pdf/Resume.pdf">Click me for my resume</a>
      </div>
    </main>



<!--Footer-->
<%- include partials/footer.ejs %>