<!--
    file name: Assignment 1
    student name: Joshua Soriano
    student id: 301 154 852
    date: Friday, October 1, 2021
-->

<!--Header-->
<%- include partials/header.ejs %>




    
    <!--navigation bar and logo-->
    <%- include partials/nav_bar.ejs %>
    <!--Main content-->
    <main class="container">
        <div class="jumbotron">
            <h3 class="display-6">Email: joshua.soriano27@outlook.com</h3>
            <h3 class="display-6">Phone number: 437-982-3824</h3>
            <!--Contact form-->
            <%- include partials/form.ejs %>
        </div>
    </main>


<!--Footer-->
<%- include partials/footer.ejs %>