<!--
    file name: Assignment 1
    student name: Joshua Soriano
    student id: 301 154 852
    date: Friday, October 1, 2021
-->

<!--Header-->
<%- include partials/header.ejs %>

    
    <!--navigation bar and logo!-->
    <!--Main content-->
    <%- include partials/nav_bar.ejs %>
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-6">Welcome to my page.</h1>
        <h1 class="display-6">Mission Statement: This website is my own personal portfolio. 
        Feel free to browse the navigation bar at the top of the page to learn more about me.</h1>
      </div>
    </main>


<!--Footer-->
<%- include partials/footer.ejs %>
    

