<!--
    file name: Assignment 1
    student name: Joshua Soriano
    student id: 301 154 852
    date: Friday, October 1, 2021
-->

<!--Header-->
<%- include partials/header.ejs %>




    <!--navigation bar and logo!-->
    <%- include partials/nav_bar.ejs %>
    <!--Main content-->
    <main class="container">
        <div class="jumbotron">
            <div id="projectalign">
                <h3 class="display-5">Project 1: Sample product webpage</h3>
                <h3 class="display-6">Designed the webpage and edited images.</h3>
                <img src="/assets/images/rd2.png" height="400" width="900" id="projectimg"><br>
                <a href="http://studentweb.cencol.ca/jsoria29/a3/Assignment3.html">Click me to view the website</a><br><br>

                <h3 class="display-5">Project 2: Software requirements specification document</h3>
                <h3 class="display-6">Created an SRS document in a group and discussed a concept for an application.</h3>
                <img src="/assets/images/srs.png" id="projectimg"><br>
                <img src="/assets/images/srs2.png" id="projectimg"><br>
                <a href="/assets//pdf/dorm.ly.pdf">Click me to view the SRS document</a><br><br>

                <h3 class="display-5">Project 3: VehicleApp</h3>
                <h3 class="display-6">Created a sample UI for a vehicle application order form.</h3>
                <img src="/assets/images/vehicleapp.png" id="projectimg">
            </div>
        </div>
    </main>




<!--Footer-->
<%- include partials/footer.ejs %>